<div class="container mt-5">
    <h2>Add Note and Evaluation</h2>
    <form [formGroup]="noteForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="note">Note:</label>
            <input type="number" formControlName="note" class="form-control">
        </div>
        <div *ngIf="
      noteForm.controls['note'].invalid &&
      (noteForm.controls['note'].touched ||
      noteForm.controls['note'].dirty)">
            <div *ngIf="noteForm.controls['note'].errors.required">note is required</div>

        </div>
        <div class="form-group">
            <label for="evaluation">Evaluation:</label>
            <input type="text" formControlName="evaluation" class="form-control">
        </div>
        <div *ngIf="
               noteForm.controls['evaluation'].invalid &&
                (noteForm.controls['evaluation'].touched ||
                 noteForm.controls['evaluation'].dirty)">
            <div *ngIf="noteForm.controls['evaluation'].errors.required">evaluation is required</div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>